$font-main: "Instrument Sans", sans-serif;

:root {
    --primary-color: #DCA546;
    --secondary-color: #FDF8F1;
    --three-color: #fceebc;
    --four-color: #fdf8f1;
    --quote-color: #F7F7F6;
    --white: #FFFFFF;
    --success: #7ed321;
    --text-color: #5F615E;
    --black: #000000;
    --place-holder: #8a8c8a;
    --icon-color: #acafab;
    --stoke-color: #ededed;
    --input-color: #e4e4e4;
    --note-color: #A8ABAE;
    --terms-color: #5c5e61;
    --star-color: #F1913D;
    --border-header: #FFFFFF1A;
    --border-icon: #5F6C5A33;
    --heading-color: #24272C;
    --heart-color: #FF4F23;
    --background-black: #171816;
    --background-dark: #FFFFFF0D;
}